$primary: rgb(182, 157, 230);

.body {
  height: 100vh;
  width: 100vw;
  margin: 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}

.session {
  display: flex;
  width: auto;
  height: 420px;
  margin: auto auto;

  border-radius: 4px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .12);
}

.left {
  width: 220px;
  height: 420px;
  position: relative;
  background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

}
 .weather{

      margin: auto;
      width: 80%;
      text-align: center;
      padding: 5px;
      transform: translateY(-3px);

    }
.user-btn{

  button {
      -webkit-appearance: none;
      border-radius: 24px;
      text-align: center;
      padding: 10px 20px;
      margin-top: 10px;
      background-color: saturate($primary, 30%);
      color: #fff;
      font-size: 12px;
      font-weight: 100;
      box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, .13);
      border: none;
      transition: all .3s ease;
      outline: 0;
      float: right;
      margin-right: 10px;


      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 2px 6px -1px rgba($primary, .65);

        &:active {
          transform: scale(.99);
        }

      }

    }

}
.users{
  min-width: 360px;
}





